<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/wechat_icon"
        android:label="WeChat"
        android:roundIcon="@drawable/wechat_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Viewpagerfragment练习"
        tools:targetApi="31">
        <activity
            android:name=".activity.MoreInforActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QRcodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WeixinidActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TickleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".activity.StartActivity"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReleaseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MomentsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>